.DS_Store
/node_modules/

# Vite
/.react-router/
/dist/

# Custom Config
conf/*.yaml
!conf/defaults.yaml
!conf/sample.yaml

# Custom Schemasources
conf/provisioning/schemasources/*
!conf/provisioning/schemasources/sample.yaml

