.DS_Store

# Frontend
/node_modules/
/.pnpm-store/
/.react-router/
/dist/
/frontend/node_modules/
/frontend/.react-router/
/frontend/dist/

# Custom Config
conf/*.yaml
!conf/defaults.yaml
!conf/sample.yaml

# Environment Variables
.env

# Custom Schemasources
conf/provisioning/schemasources/*
!conf/provisioning/schemasources/sample.yaml

# Backend
/.gradle/
/build/
/backend/.gradle/
/backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.kotlin
kls_database.db
