name: Integration Tests

on:
  push:
    branches:
      - main
      - release-*.*.*
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  postgres:
    name: Postgres
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v4.4.3
      - name: Setup postgres
        run: docker pull postgres:15.4-alpine
      - name: Restore Gradle Cache
        uses: actions/cache@v4
        with:
          key: gradle-test-cache-${{ github.ref_name }}-postgres
          restore-keys: |
            gradle-test-cache-${{ github.base_ref }}-postgres
            gradle-test-cache-main-postgres
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
      - name: Run Integration tests
        env:
          DOCKER_HOST: unix:///var/run/docker.sock
          TESTCONTAINERS_RYUK_DISABLED: true
        run: ./gradlew test -PintegrationTest --no-daemon
